<!DOCTYPE html>
<html>
<head>
<script>
$(document).ready(function() {
  var eventslist = <%= get_record %>;
  var selectedEvent;
  $('#shift-options-menu').hide();
  $('#new-shift').hide();
  $('#calendar').fullCalendar({
    eventSources: [
      {
        events: eventslist, 
        color: "black",
      }
    ],
    eventRender: function(devent, element) {
      if(devent.sub_needed) {
        $(element).css({'background-color':'red',
                      'border-color':'red',
                      'opacity':0.5
                      });
      }
    },
    allDayDefault: false,
    ignoreTimezone: false,
    defaultView: 'agendaWeek',
    header: {
    center: 'month,agendaWeek',
    },
    editable: true,
    //eventClick: function() {
    //  $(this).css('border-color', 'red');
    //},
    eventMouseover: function(calEvent, jsEvent, view) {
        // change the border color just for fun
        $(this).css('border-color', 'red');

    },
    eventMouseout: function(calEvent, jsEvent, view) {
        // change the border color just for fun
        $(this).css('border-color', 'black');
        //$('#shift-options-menu').hide()

    },
    eventClick: function(calEvent, jsEvent, view) {
        // change the border color just for fun
        $(this).css('opacity', .5);
        //alert( "Event id is " + calEvent.id);
        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        var menux = jsEvent.pageX - 100;
        var menuy = jsEvent.pageY - 5;
        selectedEvent = calEvent;
        $('#shift-options-menu').css({"top":menuy,"left":menux}).fadeIn();

    },
    dayClick: function(date, allDay, jsEvent, view) {
      //alert('Clicked on: ' + date);
      //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
      //alert('Current view: ' + view.name);
      $('#new-shift').slideDown();
    }
  });
  $('#shift-options-menu').click(function() {
    $(this).fadeOut();
  })
  .mouseleave(function() {
    $(this).fadeOut();
  });
  
  //$('#new-shift').slideUp()

  $('#new-shift').mouseleave(function() {
    $(this).hide();
  });
  $(function() {
    $('button')
    .button()
    .click(function( event ) {
      event.preventDefault();
    });
  });

  $('#subShift').click(function(event) {
    $.get("/static/sub_shift", {shift_id: selectedEvent.id}, function() {
      //window.location = "/shifts/" + selectedEvent;
      window.location = window.location + "?flash:Shift successfully taken!";
      //$('#calendar').fullCalendar('rerenderEvents');
    });
  });
  
  $('#takeShift').click(function(event) {
    $.get("/static/take_shift", {shift_id: selectedEvent.id}, function() {
      window.location = window.location;
      //window.location = "/shifts/" + selectedEvent;
    });
    //var hostname = window.location.hostname + "/shifts/";
    //window.location = $(this).text().replace(/\s/g, '_').toLowerCase();
  });

});


</script>
<style>

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

  #shift-options-menu {
    position: absolute;
    top: 0;
    z-index: 100;
  }


</style>
</head>
<body>
<h1 class='page-header'>Shift Calendar</h1> <br>
<br>
<div id='calendar'></div>
<div id='shift-options-menu' class='panel'>
  <div class='btn-group btn-group-xs'>
    <button id='subShift' class='btn btn-default'>Sub Shift</button>
    <button id='takeShift' class='btn btn-default'>Take Shift</button>
    
    <!-- <button class='btn btn-default'>Split Shift</button> -->
    <!-- <button class='btn btn-default'>View Shift</button> -->
  </div>
</div>
</body>
</html>