<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<style type="text/css">
	#block {
		background-color: black;
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		height: 100px;

	}

</style>
<%= render :partial => "/shifts/form" %>
<div id="block"></div>